.product-card {
  display: block;
  min-height: 300px;
}

.product-thumb {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
